<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  https://akira-watson.com/android/adt-windows.html  アンドロイド　スタジオ　　アンドのシミュレーション
  https://beforb.tistory.com/24    dayjs 사용법


  https://code-kitchen.dev/html/table/        テーブル
  https://saruwakakun.com/html-css/basic/table


  https://intrepidgeeks.com/tutorial/simple-todo-applications-including-vue-google-firestore-and-google-certification
  https://www.youtube.com/watch?v=aAwcuLoDqO4
  https://qiita.com/rubytomato@github/items/78087a2c69389f642760
  https://virment.com/save-data-to-firestore-vue-js-form/
  https://www.wakuwakubank.com/posts/723-firebase-firestore-query/
  https://www.inflearn.com/course/%ED%8C%8C%EC%9D%B4%EC%96%B4%EB%B2%A0%EC%9D%B4%EC%8A%A4-%EA%B0%95%EC%A2%8C-%EC%9B%B9-%EC%96%B4%ED%94%8C%EB%A6%AC%EC%BC%80%EC%9D%B4%EC%85%98#curriculum
  https://astatsuya.medium.com/cloud-firestore%E3%81%A8vue-js%E3%81%A7%E3%83%87%E3%83%BC%E3%82%BF%E3%83%BC%E3%83%99%E3%83%BC%E3%82%B9%E9%80%9A%E4%BF%A1%E3%82%92%E8%A1%8C%E3%81%86-1195352c543f
  https://cyberx.tistory.com/181 Vue.js를 이용한 Todo리스트 예제 만들기(2)
  https://qiita.com/kawanet/items/a2e111b17b8eb5ac859a     2箇所座標で距離キュとく
    https://teratail.com/questions/341461       vue.jsでボタンクリックで絞り込み検索結果を表示
  https://teratail.com/questions/178834?sort=2
  https://www.inflearn.com/course/%ED%8C%8C%EC%9D%B4%EC%96%B4%EB%B2%A0%EC%9D%B4%EC%8A%A4-%EA%B0%95%EC%A2%8C-%EC%9B%B9-%EC%96%B4%ED%94%8C%EB%A6%AC%EC%BC%80%EC%9D%B4%EC%85%98#curriculum

  https://rintiantta.github.io/jpub-vue/guide/chapter4.html#%EB%A6%AC%EC%8A%A4%ED%8A%B8-%ED%95%84%ED%84%B0%EB%A7%81

  https://starkying.tistory.com/entry/Firebase%EB%A5%BC-%EC%9D%B4%EC%9A%A9%ED%95%9C-%EC%9B%B9%EC%95%B1-%EB%A9%94%EB%AA%A8-%EC%96%B4%ED%94%8C%EB%A6%AC%EC%BC%80%EC%9D%B4%EC%85%98

  https://gnews365.tistory.com/entry/%ED%8C%8C%EC%9D%B4%EC%96%B4%EB%B2%A0%EC%9D%B4%EC%8A%A4-Firestore-Database-%EB%8D%B0%EC%9D%B4%ED%84%B0-%EA%B0%80%EC%A0%B8%EC%98%A4%EA%B8%B0?category=985074
  https://books.google.co.jp/books?id=_CrZDwAAQBAJ&pg=PA193&lpg=PA193&dq=vue.js+%EB%B6%84%EA%B8%B0+%EC%A4%91%EC%B2%A9&source=bl&ots=ITsVW30t_u&sig=ACfU3U20yWs2ERoDosVjnSKovJ7kWJzXhg&hl=ja&sa=X&ved=2ahUKEwjIlqfwwOP3AhVNA6YKHerYDvIQ6AF6BAgiEAM#v=onepage&q=vue.js%20%EB%B6%84%EA%B8%B0%20%EC%A4%91%EC%B2%A9&f=false
</body>
</html>